@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .div-1 {background-color:cadetblue}
    .div-2 {background-color:slategray}
</style>

<div class="text-center">
    <h1 class="div-1">Bienvenido a HospiHouse. Su hospital en casa</h1>
    <p class="div-2">ingrese su codigo o documento:</p>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>

<div class="card">
  <div class="card-header">
    ingrese de usuario
  </div>
  <div class="card-body">
    <h5 class="card-title">Numero o documento</h5>
    <imput type="text" > </imput>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>